* {
    margin: 0;
    padding: 0;
}

body {
  color: #333;
  font-family: sans-serif;
  display: flex;
  flex-flow: column;
  font-size: 16px;
  height: 100vh;
}
#root {
  display: flex;
  flex-grow: 1;
  justify-content: center;
}
.header {
  background-color: #eee;
  border-bottom: 2px solid #ddd;
  padding: 10px;
}
.content {
  display: flex;
  flex-flow: column;
  flex-grow: 1;
  padding: 10px;
  flex-basis: auto;
}

.logo {
  width: 100%;
}

.page {
  align-items: center;
  display: flex;
  flex-flow: column;
  flex-grow: 1;
  flex-shrink: 1;
  justify-content: center;
}

input[type=text],
input[type=number],
select,
option {
  background-color: #fff;
  border: 1px solid #90C855;
  border-radius: 5px;
  color: #333;
  display: block;
  font-size: 16px;
  margin: 10px;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  width: 200px;
}

.btn {
  background-color: #90C855;
  border-radius: 5px;
  color: #fff;
  display: block;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  width: 200px;
}