.product-item,
.payment-service,
.payment-total {
  display: flex;
  width: 100%;
}
.payment-total {
  padding: 10px;
}
.product-item:nth-child(even) {
  background-color: #dff2cb;
}
.product-item-name,
.product-item-quantity,
.product-item-price,
.payment-service-check,
.payment-service-label,
.payment-service-price,
.payment-total-label,
.payment-total-price {
  padding: 5px;
}

.product-item-name,
.payment-service-label {
  flex-grow: 6;
  width: 60%;
}
.product-item-price,
.payment-service-price,
.payment-total-price {
  flex-grow: 3;
  text-align: right;
  width: 30%;
}
.product-item-quantity,
.payment-service-check {
  flex-grow: 1;
  text-align: center;
  width: 10%;
}
.payment-total-label {
  flex-grow: 7;
  width: 70%;
}
.payment-list {
  flex-grow: 1;
  width: 100%;
}

.cards-divide {
  display: flex;
  flex-flow: column;
  flex-grow: 1;
  width: 100%;
}

.payment-card {
  align-items: center;
  display: flex;
  justify-content: center;
}